@charset "UTF-8";

/*
https://rockcontent.com/br/blog/psicologia-das-cores/

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); fonte titulo 1;
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap'); fonte paragrafos;

#FFA500
#806026
#CC8500
#FFC14D
#805300


<section class="a">
            <h2 class="tmu"></h2>
            <h3 class="tmu">Rihanna</h3>

            

            <p class="com"></p>

            <a href="" target="_blank">Link da música</a>
        </section>
        <section>
            <h2 class="tmu"></h2>
            <h3 class="tmu">Rihanna</h3>

            

            <p class="com"></p>
        </section>
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');

:root{
    --font1: 'Oswald', sans-serif;
    --font2: 'Bricolage Grotesque', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}

html{
    height: 100vh;
    width: 100vw;
}

main{
    /*height: 100vh;
    width: 100vw;*/
    /*border-radius: 10px;*/
    text-align: center;
}

header{
    background-image: linear-gradient(to top, #FFA500, #CC8500);
    padding: 0px 0px 10px 0px;
    border-radius: 0px 0px 10px 10px;
    min-height: 70px;
}

header > h1{
    text-align: center;
    padding: 10px 0px 10px;
}

header > nav > a{
    padding: 0px 4px 0px 4px;
    font-size: smaller;
}

p{
    font-family: var(--font2);
}

h1, h2{
    font-family: var(--font1);
}

h1{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.11);
}

h2.e{
    font-family: var(--font1);
    padding-left: 150px;
    background-color: #CC8500;
    color: white;
    max-width: 200px;
    border-radius: 10px;
    text-align: left;
}

h2.e:hover{
    text-decoration: underline; 
}

h2.tmu{
    font-family: var(--font1);
    text-decoration: none;
    color: #CC8500;
    background-color: black;
    border-radius: 10px;
    text-align: left;
    max-width: 400px;
}

h2.tmu:hover{
    text-decoration: underline;
}

h3.tmu{
    font-family: var(--font1);
    text-decoration: none;
    color:#805300;
    text-align: left;
}

h3.tmu:hover{
    text-decoration: underline;
}

h2.tm{
    font-family: var(--font1);
    text-decoration: none;
    color:#FFA500;
    background-color:#805300;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    max-width: 200px;
}

li{
    text-align: left;
    font-size: 1.3em;
    font-family: var(--font2);
    padding-left: 40px;
}

li:hover{
    text-decoration:underline;
    background-color: rgba(0, 0, 0, 0.7);
    color:#CC8500;
    border-radius: 10px;
    max-width: 500px;
}

h3{
    font-family: var(--font1);
}

h1.n{
    font-family: var(--font1);
    background-color:#805300;
    color: white;
    border-radius: 10px;
}

abbr{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
    font-family: var(--font1);
}

a:hover{
    background-color: #805300;
    color: white;
    border-radius: 10px;
}

img{
    height: 40vh;
    width: 40vw;
    border-radius: 10px;
}

p{
    padding: 0px 60px 0px 60px;
}

h4{
    padding-top: 20px;
    padding-bottom: 20px;
}

footer{
    background-color: #805300;
    text-align: center;
    padding: 6px;
    border-radius: 10px;
    font-family: var(--font1);
}

footer > a:hover{
    background-color: #FFA500;
    color: white;
}